<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню запросов</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

</head>
<body>
<main align="center">
<br><br><br>
<article>
<h1 align = center> Выберите действие</h1>

        <br>
       <a href={{url_for('bp_query.cons_data')}}> Просмотр содержимого вашей накладной</a>
       <br>
        <a href={{url_for('bp_query.sup_cons')}}> Вывести данные ваших накладных</a>
      <br>
    <a href={{url_for('menu_choice')}}> Нажмите, чтобы вернуться в главное меню</a>
    <br>
    <a href="/exit"> Нажмите для выхода из системы</a>
</article>
</main>

</body>
</html>