<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Не найдено</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
<main align="center">
    <article class="article">
    <h1 align="center"> По вашему запросу ничего не найдено, попробуйте изменить параметры запроса</h1>
        <input class ="buttonwide" type="button" onclick="history.back();" value="Нажмите, чтобы вернуться к параметрам запроса"/>
    </article>
</main>
</body>
</html>